<canvas id="chart"></canvas>
  <%#= instrument["instrument_name"] %>

<script>
  var data = {
    datasets: [{
      data: [
        <%= for instrument <- @yields do %>
          {
            x: new Date(<%= instrument["expiration_timestamp"] %>),
            y: <%= :io_lib.format("~.2f", [instrument["yield"] * 100]) %>
          },
        <% end %>
      ]
    }]
  };
</script>
